.color-row {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.color-block {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 15px 10px;
  font-size: $font-size-small;
  color: $white;
  text-align: center;
  @media screen and (min-width: $screen-sm) {
    width: 50%;
  }
  @media screen and (min-width: $screen-md) {
    width: 25%;
  }

  &.color-primary-lightest,
  &.color-primary-lighter,
  &.color-primary-light,
  &.color-primary-dark,
  &.color-primary-darker,
  &.color-primary-darkest,
  &.color-gray-lightest,
  &.color-gray-lighter,
  &.color-gray-light,
  &.color-gray-dark,
  &.color-gray-darker,
  &.color-gray-darkest {
    @media screen and (min-width: $screen-sm) {
      width: 33.33%;
    }
    @media screen and (min-width: $screen-md) {
      width: 33.33%;
    }
    @media screen and (min-width: $screen-lg) {
      width: 16.66%;
    }
  }

  &.color-primary,
  &.color-secondary,
  &.color-tertiary,
  &.color-quaternary,
  &.color-quinary,
  &.color-gray {
    width: 100%;
  }

  h4 {
    margin: 3px 0 0;
    font-size: $font-size-h6;
    color: $white;
  }

  dl {
    margin: 5px 0 0;
    font-size: 12px;
  }

  dt {
    float: left;
    clear: both;
  }

  dd {
    float: right;
    padding-left: 15px;
  }
}

.color-primary-lightest { background-color: $brand-primary-lightest; }
.color-primary-lighter { background-color: $brand-primary-lighter; }
.color-primary-light { background-color: $brand-primary-light; }
.color-primary { background-color: $brand-primary; }
.color-primary-dark { background-color: $brand-primary-dark; }
.color-primary-darker { background-color: $brand-primary-darker; }
.color-primary-darkest { background-color: $brand-primary-darkest; }

.color-secondary-lighter { background-color: $brand-secondary-lighter; }
.color-secondary-light { background-color: $brand-secondary-light; }
.color-secondary { background-color: $brand-secondary; }
.color-secondary-dark { background-color: $brand-secondary-dark; }
.color-secondary-darker { background-color: $brand-secondary-darker; }

.color-tertiary-lighter { background-color: $brand-tertiary-lighter; }
.color-tertiary-light { background-color: $brand-tertiary-light; }
.color-tertiary { background-color: $brand-tertiary; }
.color-tertiary-dark { background-color: $brand-tertiary-dark; }
.color-tertiary-darker { background-color: $brand-tertiary-darker; }

.color-quaternary-lighter { background-color: $brand-quaternary-lighter; }
.color-quaternary-light { background-color: $brand-quaternary-light; }
.color-quaternary { background-color: $brand-quaternary; }
.color-quaternary-dark { background-color: $brand-quaternary-dark; }
.color-quaternary-darker { background-color: $brand-quaternary-darker; }

.color-quinary-lighter { background-color: $brand-quinary-lighter; }
.color-quinary-light { background-color: $brand-quinary-light; }
.color-quinary { background-color: $brand-quinary; }
.color-quinary-dark { background-color: $brand-quinary-dark; }
.color-quinary-darker { background-color: $brand-quinary-darker; }

.color-gray-lightest { background-color: $gray-lightest; }
.color-gray-lighter { background-color: $gray-lighter; }
.color-gray-light { background-color: $gray-light; }
.color-gray { background-color: $gray; }
.color-gray-dark { background-color: $gray-dark; }
.color-gray-darker { background-color: $gray-darker; }
.color-gray-darkest { background-color: $gray-darkest; }

.color-primary-lightest,
.color-primary-lighter,
.color-primary-light,
.color-secondary-lighter,
.color-secondary-light,
.color-tertiary,
.color-tertiary-lighter,
.color-tertiary-light,
.color-quaternary-lighter,
.color-quaternary-light,
.color-quinary-lighter,
.color-quinary-light,
.color-gray-lightest,
.color-gray-lighter,
.color-gray-light {
  color: $gray-darker;

  h4 {
    color: $gray-darker;
  }
}
