.icon-row {
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.icon-block {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  padding: 15px 10px;
  text-align: center;

  &.icon-wide {
    flex-direction: row;

    > span {
      margin: 0 20px;
    }
  }

  h5 {
    margin: 0 0 10px;
    font-size: $font-size-h6;
  }

  .fa-stack {
    margin-top: 10px;
  }
}

.icon-color {
  color: $brand-primary;
}

.icon-knockout {
  color: $white;
  background-color: $brand-primary;

  .fa-inverse {
    color: $brand-primary;
  }
}
