.contrast-combos {
  padding: 0;

  li {
    padding: 5px 10px;
    margin: 3px 0;
    font-size: $font-size-small;
    font-weight: 700;
    text-transform: uppercase;
    list-style: none;
    border: 1px solid $gray-lighter;
    border-radius: $border-radius-base;
  }
}

.bg-white { background-color: $white; }

.bg-primary-lightest { background-color: $brand-primary-lightest; }
.bg-primary-lighter { background-color: $brand-primary-lighter; }
.bg-primary-light { background-color: $brand-primary-light; }
.bg-primary { background-color: $brand-primary; }
.bg-primary-dark { background-color: $brand-primary-dark; }
.bg-primary-darker { background-color: $brand-primary-darker; }
.bg-primary-darkest { background-color: $brand-primary-darkest; }

.bg-secondary-lighter { background-color: $brand-secondary-lighter; }
.bg-secondary-light { background-color: $brand-secondary-light; }
.bg-secondary { background-color: $brand-secondary; }
.bg-secondary-dark { background-color: $brand-secondary-dark; }
.bg-secondary-darker { background-color: $brand-secondary-darker; }

.bg-tertiary-lighter { background-color: $brand-tertiary-lighter; }
.bg-tertiary-light { background-color: $brand-tertiary-light; }
.bg-tertiary { background-color: $brand-tertiary; }
.bg-tertiary-dark { background-color: $brand-tertiary-dark; }
.bg-tertiary-darker { background-color: $brand-tertiary-darker; }

.bg-quaternary-lighter { background-color: $brand-quaternary-lighter; }
.bg-quaternary-light { background-color: $brand-quaternary-light; }
.bg-quaternary { background-color: $brand-quaternary; }
.bg-quaternary-dark { background-color: $brand-quaternary-dark; }
.bg-quaternary-darker { background-color: $brand-quaternary-darker; }

.bg-quinary-lighter { background-color: $brand-quinary-lighter; }
.bg-quinary-light { background-color: $brand-quinary-light; }
.bg-quinary { background-color: $brand-quinary; }
.bg-quinary-dark { background-color: $brand-quinary-dark; }
.bg-quinary-darker { background-color: $brand-quinary-darker; }

.bg-gray-lightest { background-color: $gray-lightest; }
.bg-gray-lighter { background-color: $gray-lighter; }
.bg-gray-light { background-color: $gray-light; }
.bg-gray { background-color: $gray; }
.bg-gray-dark { background-color: $gray-dark; }
.bg-gray-darker { background-color: $gray-darker; }
.bg-gray-darkest { background-color: $gray-darkest; }

.fg-white { color: $white; }

.fg-primary-lightest { color: $brand-primary-lightest; }
.fg-primary-lighter { color: $brand-primary-lighter; }
.fg-primary-light { color: $brand-primary-light; }
.fg-primary { color: $brand-primary; }
.fg-primary-dark { color: $brand-primary-dark; }
.fg-primary-darker { color: $brand-primary-darker; }
.fg-primary-darkest { color: $brand-primary-darkest; }

.fg-secondary-lighter { color: $brand-secondary-lighter; }
.fg-secondary-light { color: $brand-secondary-light; }
.fg-secondary { color: $brand-secondary; }
.fg-secondary-dark { color: $brand-secondary-dark; }
.fg-secondary-darker { color: $brand-secondary-darker; }

.fg-tertiary-lighter { color: $brand-tertiary-lighter; }
.fg-tertiary-light { color: $brand-tertiary-light; }
.fg-tertiary { color: $brand-tertiary; }
.fg-tertiary-dark { color: $brand-tertiary-dark; }
.fg-tertiary-darker { color: $brand-tertiary-darker; }

.fg-quaternary-lighter { color: $brand-quaternary-lighter; }
.fg-quaternary-light { color: $brand-quaternary-light; }
.fg-quaternary { color: $brand-quaternary; }
.fg-quaternary-dark { color: $brand-quaternary-dark; }
.fg-quaternary-darker { color: $brand-quaternary-darker; }

.fg-quinary-lighter { color: $brand-quinary-lighter; }
.fg-quinary-light { color: $brand-quinary-light; }
.fg-quinary { color: $brand-quinary; }
.fg-quinary-dark { color: $brand-quinary-dark; }
.fg-quinary-darker { color: $brand-quinary-darker; }

.fg-gray-lightest { color: $gray-lightest; }
.fg-gray-lighter { color: $gray-lighter; }
.fg-gray-light { color: $gray-light; }
.fg-gray { color: $gray; }
.fg-gray-dark { color: $gray-dark; }
.fg-gray-darker { color: $gray-darker; }
.fg-gray-darkest { color: $gray-darkest; }

.type-test {
  margin-top: 10px;
  font-size: 18px;
  letter-spacing: 3px;
  word-wrap: break-word;
}

.type-trajan-bold {
  font-family: $font-family-serif;
  font-weight: 700;
}

.type-trajan-regular {
  font-family: $font-family-serif;
  font-weight: 400;
}

.type-opensans-bold {
  font-family: $font-family-sans-serif;
  font-weight: 700;
}

.type-opensans-regular {
  font-family: $font-family-sans-serif;
  font-weight: 400;
}

.type-opensans-light {
  font-family: $font-family-sans-serif;
  font-weight: 200;
}

.type-header {

  h1:first-child,
  h2:first-child,
  h3:first-child,
  h4:first-child,
  h5:first-child,
  h6:first-child {
    margin: 12.5px 0 25px;
  }
}
