.panel-group-nav {

  .panel-body {
    padding: 0;
  }

  .nav-pills > li {
    margin: 0;

    > a {
      padding: 10px 15px;
      font-size: $font-size-small;
      color: $gray-dark;
      text-decoration: none;
      background-color: transparent;
      border-radius: 0;

      &:active,
      &:focus,
      &:hover {
        color: $white;
        background-color: $brand-primary;
      }
    }

    &.active a {
      color: $white;
      background-color: $brand-primary;
    }

  }
}

.panel-default {
  overflow: hidden;
  border-radius: $border-radius-base;

  &:active,
  &:focus,
  &:hover {
    border-color: $gray-light;
  }
}

.panel-heading {
  padding: 0;

  a {
    display: block;
    padding: 10px 15px;
    font-family: $font-family-serif;
    font-size: $font-size-base;
    font-weight: 700;
    line-height: 1;
    text-decoration: none;

    &.collapsed {
      border-radius: $border-radius-base;
    }
  }
}
