.back-to-top {
  margin-top: 15px;
  text-align: right;

  a,
  a:visited {
    font-size: $font-size-small;
    line-height: 1;
    color: $brand-primary;
    text-decoration: none;

    em {
      margin-right: 5px;
      font-style: normal;
    }

    &:active,
    &:focus,
    &:hover {
      color: $brand-primary-darker;

      em {
        visibility: visible;
      }
    }
  }

  .fa {
    font-size: $font-size-h5;
  }
}

.bg {
  padding: 15px;
  border-radius: $border-radius-base;
}

.btn-cl {
  margin-top: 20px;
}

.breaker {
  padding-top: 25px;
  border-top: 1px solid rgba($brand-primary, .3);
}

.code-header {
  margin-top: 35px;

  &:first-child {
    margin-top: 15px;
  }
}

.main-content {
  &:focus {
    outline-width: 0;
  }

  h1:first-child {
    margin-top: 0;
  }

  h1 + h2 {
    margin-top: 5px;
  }

  article > p:first-child {
    margin-top: 15px;
  }

  article + article {
    margin-top: 25px;
    border-top: 1px solid $brand-primary;
  }

  img {
    max-width: 100%;
    margin-bottom: 20px;
  }

  section + section {
    margin-top: 12.5px;

    > h4 {
      padding-top: 25px;
      border-top: 1px solid rgba($brand-primary, .3);
    }
  }

  section > h4 {
    margin-right: 15px;
    margin-left: 15px;
  }

  .dropdown-menu li {
    margin-bottom: 0;
  }
}

.main-content-branding {
  img {
    max-height: 300px;

    @media screen and (min-width: $screen-md) {
      margin-bottom: 0;
    }
  }
}

.main-content-colophon {
  padding: 0;

  h2 {
    font-size: $font-size-h5;
    line-height: 1.4;
  }
}

.main-content-lists {
  .list-group {
    max-width: 400px;
  }
}

.main-content-principles {
  h4 {
    max-width: 35em;
    margin-top: 0;
    font-family: $font-family-sans-serif;
    font-size: $font-size-base;
    font-weight: 500;
    line-height: 1.6;
    color: $gray-dark;
  }
}

.main-content-typography {
  img {
    @media screen and (min-width: $screen-md) {
      margin-bottom: 0;
    }
  }
}

.modal-demo {
  display: block;
}

.radio.small {
  display: inline-block;
  font-weight: normal;
  line-height: 1.2;
  margin: 10px 0 0 30px;
  @media screen and (min-width: $screen-md) {
    display: block;
    margin: 3px 0;
  }
}

.show-grid {
  margin-bottom: 20px;

  [class^=col-] {
    font-size: $font-size-small;
    color: $brand-primary-dark;
    text-align: center;
    background-color: $brand-primary-lightest;
    border: 1px solid $brand-primary;
  }
}

.side-main {
  font-weight: 500;
}

.site-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 0 20px;
  font-size: $font-size-small;
  color: $white;
  background-color: $brand-primary-dark;

  a {
    color: $brand-primary-lightest;

    &:active,
    &:focus,
    &:hover {
      color: $white;
    }

    &.btn-default {
      color: $brand-primary-darkest;
      text-decoration: none;
    }
  }

  h1 {
    font-size: $font-size-h4;
  }
}

.site-header {
  padding: 20px 0;
  margin-bottom: 30px;
  line-height: 1;
  color: $white;
  background-color: $brand-primary-dark;

  a {
    display: inline-block;
    padding: 10px 5px;
    color: $white;
    text-decoration: none;
    vertical-align: sub;
    border-radius: $border-radius-base;

    &:active,
    &:focus,
    &:hover {
      color: $brand-primary-dark;
      background-color: $white;
    }
  }

  h1 {
    margin: 0;
    line-height: 1;

    em {
      font-style: normal;
      font-weight: 400;
    }
  }
}

.style-form {
  margin-top: 20px;
}

.style-sub {
  h5,
  h6 {
    margin: 25px 0 15px;

    &:first-child {
      margin: 0 0 15px;
    }
  }
}

.well {
  &.well-style {
    padding: 20px;
    font-size: $font-size-small;
    background-color: $white;
    border-color: $gray-lighter;
    border-width: 1px 1px 1px 5px;
    box-shadow: none;

    a {
      color: $brand-primary;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-style: normal;
    }

    h3,
    h5 {
      font-size: $font-size-h4;
    }
  }

  &.well-danger {
    color: $brand-quaternary-dark;
    border-left-color: $brand-quaternary;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $brand-quaternary-dark;
    }
  }

  &.well-info {
    color: $brand-primary-dark;
    border-left-color: $brand-primary;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $brand-primary-dark;
    }
  }

  &.well-success {
    color: $brand-secondary-dark;
    border-left-color: $brand-secondary;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $brand-secondary-dark;
    }
  }

  &.well-warning {
    color: $brand-tertiary-dark;
    border-left-color: $brand-tertiary;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $brand-tertiary-dark;
    }
  }
}
